@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-body text-white;
}

::selection {
  @apply text-black bg-accent;
}

.before-enter {
  opacity: 0;
  transform: translateY(150px) scale(0.9);
  transition: all 2s cubic-bezier(0.86, 0, 0.07, 1);
}

.enter {
  opacity: 1;
  transform: translateY(0px);
}
